@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Krona+One&display=swap');



body{
	background-color: #0099ff;

    
}
.wrapper{
	display: grid;
	grid-template-columns: 50% 50%;
    grid-column-gap: 2em;

}
.left{
 background-image: url('../51.png');
 background-repeat: no-repeat;
 
 background-size: contain;

}

.right{
	margin-top: 50px;
    margin-left: 100px;
	margin-right:290px; 
	
}
.username{
font-family: 'Krona One', sans-serif;

color: #000066;

}
.password{
	font-family: 'Krona One', sans-serif;
color: #000066;
}
#login{
	padding-left: 120px;
	color: #000066;
	font-family: 'Holtwood One SC', serif;

}
#link{
   font-family: 'Krona One', sans-serif;
   color: #000066;
  
   text-decoration: none;


}

#btn{
	
	padding:10px 50px;
	height: 2.7 rem;
	display: block;
	border: 0;
	border-radius: 2PX;
	font-weight: 500;
	background:#f96816;
	margin-top: 10px;
	margin-left: 125px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	transition: background-color 0.5s;
}





#new{
	padding:10px 50px;
	height: 2.7rem;
	margin-left: 120px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	transition: background-color 0.5s;
		display: block;
	border: 0;
	border-radius: 2PX;
	font-weight: 500;
	background:#f96816;
}
#main-footer{
	color: #ccc;
	text-align: center;
	font-size: 0.8rem;
	max-width: 80%;
	padding-top: 5rem;
	margin-left: 100px;

}
#main-footer a{
	color:white;
	text-decoration: underline;
}
#or{
	text-align: center;
	margin-left: 125px;
	color: #000066;

}
@media(max-width: 768px){
	body{
		overflow: auto;
	}
	#left{
		display: none;
	}
	#right{
		justify-content: start;
		margin-top: 4vh;
	}
	
}